{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
      <h1 style="align-content: center" class="display-4 font-italic">About Us</h1>
        </div>
    </div>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div style="color: white" class="row">
      <div class="col-lg-4">
        <h2>Tek Subedi the presenter</h2>
        <p>tsubedi1@lakeheadu.ca</p>
      </div><!-- /.col-lg-4 -->
      <div style="color: white" class="col-lg-4">
        <h2>Inemo Obuala</h2>
        <p>Ilobuala@lakeheadu.ca</p>
      </div><!-- /.col-lg-4 -->
      <div style="color: white" class="col-lg-4">
        <h2>Jagnoor Hayer</h2>
        <p>jshayer@lakeheadu.ca</p>
      </div><!-- /.col-lg-4 -->
    <div style="color: white" class="col-lg-4 mx-auto my-4">
        <h2>Prabhjot Singh Matharu</h2>
        <p>psmathar@lakeheadu.ca</p>
      </div><!-- /.col-lg-4 -->
    </div>
    </div>

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <p class="lead my-3">Initial research was done by all </p>
      <p class="lead my-3">Started the application </p>
      <p class="lead my-3">Using NB Model </p>
      <p class="lead my-3">Google Compute Engine working </p>
      <p class="lead my-3">Kubernetes Working </p>
      <p class="lead my-3">Overall the job was distributed evenly </p>
      <p class="lead my-3">Everybody did their part even if we had to help each others  </p>
    </div>
    </div>

{% endblock %}
