{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <h1 style="color: white" class="display-4">Welcome to Restaurant Review Analyzer</h1>
            <p style="color: white" style="align-content: center" class="lead">This is a simple review analyzer, that gives a positive or negative review depending on the context of the review.</p>
            <hr class="my-4">
            <p style="color: white" style="align-content: center">The model we used was MLP, with a dataset consisting of 1000 lines from yelp.</p>
    </div>

{% endblock %}